
.traco{
    width: 100%;
    height: 0px;
    border: 1px black solid;
    
    }

    .listaDeUsuarios{
border: 1px solid black;
padding: 10px;
margin: 5px;
width: 300px;
display:flex;
justify-content: space-between;

    }

    .headerMain{
        width: 100%;
        height: 15%;
        background-color: orange;
    }

    .back{

        width: 400px;
        height: 200px;
        justify-self: center;
    }

    .divisoria{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }