body{background-color: gray;background-image:url(imagens/fundo\ site.jpg) ;background-size: 41cm;}
#bemvindo{color:darkblue; background-color:slategrey ;font-size:500%;text-align: center;}
nav{background-color: black;font-size: 100%;margin-left: 10px;}
div{margin-left: 10px;color:black;}