body{background-color: gray;background-image:url(imagens/fundo\ site.jpg) ;background-size: 41cm;}
#bemvindo{color:darkblue; background-color:slategrey ;font-size:500%;text-align: center;}
nav{background-color: black;font-size: 100%;margin-left: 10px;}
table{background-color:bisque;border: 100px;border: 2px solid black;}
td{background-color:orange;border: 100cm;border: 1px solid black;}
#vendas{margin-left: 10px;color:black;margin: 20px;}
h2{color:rgb(73, 82, 73);}